%h2.h1-header-txt.text-center
  Privacy Policy My Verified ID Corp.
.largetext

  %p 
    This Privacy Policy is to be read with and forms part of the My Verified ID Corp. Terms of Service.

  %p 
    %b 1. Your Data

  %p 
    My Verified ID (MVI) respects the privacy of our users and is committed to upholding their privacy rights as per this policy. All information provided by you and contained within the website are governed by our Terms of Service. Although MVI provides the data storage, databases and the MVI website, you retain all rights to your data. If you cancel or terminate your subscription, reasonable steps will be taken to ensure that all data including photos, documents and personal identification is deleted from MVI systems and de-identified (see clause 8).

    %p 
      %b 2. What We Collect

    %p 
      Your information will always be collected legally and fairly, and directly from you wherever reasonable and practicable unless you consent otherwise. We will collect your e-mail address and certain personally identifiable information when you communicate with us or register with us to open an Account. We also collect and store certain aggregate information regarding which pages you access or visit, and other information volunteered (such as through any surveys or site registrations MVI might conduct).

    %p 
      When you register on the MVI site we also ask for information that is used to verify your identity.  As you progress through the verification process you will be requested to enter official information from ID documents such as your passport, driver’s license, medical health insurance card or other document that can identify you and your country of origin/citizenship/residence.  MVI does not keep this information, but assesses it for its accuracy. Once the submitted information is verified, any personal identification numbers are removed from our system for your personal security. 

    %p 
      MVI may also collect information regarding the use of the MVI Site and the services available on it. Information collected here may include but is not limited to:
      %br
      Web site traffic volume;
      %br
      Frequency of visits;
      %br
      Type and time of transactions; and
      %br
      Type of browser and operating system.
    
    %p 
      Sensitive information such as information relating to racial or ethnic origin, political opinions, religious or philosophical beliefs, health or sexual orientation will not be collected, other than as outlined above, unless it is deemed reasonably necessary by MVI. Sensitive information will also not be collected without your consent unless we are required to do so under law or are otherwise permitted.

    %p 
      The information that you disclose to us is transferred through a secure socket layer (SSL) into Amazon cloud servers and by so disclosing, you hereby consent to such transfer.

    %p 
      %b 3. Use of Information

    %p 
      Your information is used by us to verify your identity as a primary purpose, and will not be used for any secondary purpose without your express or implied consent. Your information does not have to be disclosed to us, however if it is not disclosed it may be impossible to provide the services you’ve requested. We may also use personal information for auditing, research and analysis to operate and improve the MVI website. We may also use some information collected from you to help diagnose technical problems, administer the MVI site, and improve the quality and types of services delivered.

    %p 
      We may use third parties to assist us in processing your personal information, and we require that such third parties comply with our Privacy Policy and any other appropriate confidentiality and security measures. We may also provide non-identifying and aggregate usage and volume statistical information derived from the actions of our visitors and Account holders to third parties.

    %p 
      The information we collect is not shared with or sold to other organizations for commercial purposes, except to provide products or services you’ve requested, when we have your permission, or under the following circumstances:

    %p 
      %ul
        %li
          It becomes necessary to share information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of the Terms of Service, or as otherwise required by law; or
        %li
          MVI is acquired by or merged with another company. In this event, MVI will notify you before information about you is transferred and becomes subject to a different privacy policy.

    %p 
      Our computer systems are currently based in the United States, so we will process your personal data in the United States. However, we reserve the right to store your data in another location, including in a country that does not have data privacy laws. MVI will however take reasonable steps to ensure that your privacy is still respected. As a visitor from outside the United States, you by using the MVI website agree to this privacy policy and you consent to the transfer of all such information to the United States and to any consequent transfer.  

    %p 
      %b 4. Cookies

    %p 
      A cookie is a small amount of data, which often includes an anonymous unique identifier that is sent to your browser from a website’s computers and stored on your computer’s hard drive. Cookies are used to identify unique visitors to our sites and to provide you with easy access to your files and are required to use the MVI website.  If you have your browser set to reject cookies, your usage of the Service and MVI website is likely to be interrupted.

    %p 
      %b 5. Security

    %p 
      MVI has implemented processes intended to protect user information and maintain security of data. Each Account holder is assigned a unique user name and password, which is required to access their Account. It is each user’s responsibility to protect the security of his or her login information, however MVI will take steps to ensure that the information held is protected from misuse, interference, loss and unauthorised access, modification or disclosure. 

    %p 
      These safeguards help prevent unauthorized access, maintain data accuracy, and ensure the appropriate use of data, but no guarantee can be made that your information and data will be secure from intrusions and unauthorized release to third parties. 

    %p 
      %b 6. Cancellation or Termination of the Account

    %p 
      If you choose to cancel your Account and leave the MVI Service or your Account is terminated, please be aware that MVI may for a time retain residual information in our backup and/or archival copies of our database. We will make reasonable commercial efforts to delete and de-identify your information as soon as practical.

    %p 
      %b 7. Children

    %p 
      As a business service, MVI does not target its offerings toward or knowingly collect any personal information from users under 16 years of age. 

    %p 
      %b 8. Accessing and Updating Personal Information

    %p 
      MVI is committed to upholding the accuracy of your information and allowing you access to the personal details we store. MVI makes reasonable efforts to provide you with access to your personal information and either to correct this data if it is inaccurate or to delete such data at your request if it is not otherwise required to be retained by law or for legitimate business purposes. You may update your Account information by logging into your Account. 

    %p 
      MVI reserves the right to decline requests to access, correct or remove information that are unreasonably repetitive or systematic, require disproportionate technical effort, jeopardize the privacy of others, or would be extremely impractical (for instance, requests concerning information residing on a backup drive), or for which access is not otherwise required. In any case where we provide information access and correction, we perform this service free of charge, except if doing so we believe would require a disproportionate effort.

    %p 
      %b 9. Privacy Complaints

    %p 
      MVI is committed to upholding the accuracy of your information and working towards the resolution of any complaints about your privacy or our collection and use of your personal information. If you have an inquiry or complaint regarding this privacy policy or wish to access and update the information MVI has collected from you, please contact us at privacy@myverifiedid.com or by mail at:

    %p 
      My Verified Id Corp.
      %br
      3422 Old Capitol Trail #783, 
      %br
      Wilmington , Delaware 
      %br
      United States - 19808 

    %p 
      %b 10. Changes to this Policy

    %p 
      MVI may periodically update this policy. We will notify you about significant changes in the way we treat personal information by posting a notice on the MVI website and possibly sending a notice to the primary email address specified in your Account. Each version of this Policy will be identified at the bottom of the page by its effective date.

    %p 
      %b 11. Questions

    %p 
      Any further questions about this Privacy Policy should be addressed to privacy@myverifiedid.com 
      %br
      %br
      Or by mail to:
      %br
      %br
      My Verified Id Corp. 
      %br
      3422 Old Capitol Trail #783, 
      %br
      Wilmington , Delaware 
      %br
      United States - 19808 

    %p 
      Updated: 4th March 2014