<div style="text-align:center">

		<div style="margin:2% auto 10%;width:800px">
			<iframe  src="http://4l2t.t.proxylocal.com/myverified-widget" width="800"  height="960" frameborder=0 scrolling="no"></iframe>
		</div>
</div>	