<div style="text-align:center">

		<div style="margin:2% auto 10%;width:940px">
			<iframe  src="https://member.myverifiedid.com/myverified-widget" width="940"  height="1024" frameborder=0 scrolling="no"></iframe>
		</div>
</div>	