<div style="text-align:center">
		<div style="margin:2% auto 10%;width:90%">
		<% if @email.present? %>
			<iframe  src="https://member.myverifiedid.com/myverified-widget?email=<%= @email %>" width="100%"  height="2024" frameborder=0 scrolling="no"></iframe>
		<% else %>
			<iframe  src="https://member.myverifiedid.com/myverified-widget" width="100%"  height="2024" frameborder=0 scrolling="no"></iframe>
		<% end %>
		</div>
</div>	