body, html {
    height: 100%;
}
#content {min-height: 100%; }


/*header{background: #000;}*/
.container-lp{width:80%;margin: 0 auto;padding:10px;-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;   
  box-sizing: border-box;}
.logo{float: left;width:35%;}
.logo img{max-width: 100%;}
.mobile-logo {width:200px;}
.mobile-logo img{max-width: 100%;}

/*.nav{float: right;vertical-align : bottom;height: 100%;color:#fff;margin-top: 15px;}*/
.clear{clear: both;}
footer{position:fixed;bottom:0;background: #000;-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;   
  box-sizing: border-box;width: 100%;z-index: 100;}

.content{ background-color: rgb(112, 174, 59);max-width: 400px;margin: 0 auto;padding: 10px;margin-top: 5%;}
.footer-tagline{color: #fff;text-transform: uppercase;width:90%;margin: auto;text-align: center;}
.footer-tagline img{vertical-align: middle;margin-left: 8px;}


section.scan{margin-top: 0px;}
section.scan header{background: #fff;padding: 11px 5px 5px;text-align: center;}
section.scan header img{vertical-align: middle;}
section.scan header a{display: inline-block;}
section.scan header a:hover{background: transparent;}
section.scan header .title{height:36px;font-size: 21px;text-transform: uppercase;margin-left: 25px;margin-right: 25px;display: inline-block;}
section.scan header .title span{margin-top: 5px;}

.btn-custom-mb{background: #fff!important;color:#70AE3B!important;text-transform: uppercase;border: 2px solid #6caa37;width:auto;font-size: 20px; border-radius: 8px;}


a:hover.btn-custom-mb{opacity: 0.9;border: 2px solid #6caa37;}


.btn-custom-mb span{width:186px;display: inline-block;}
.container.card-scan{background-color: #70AE3B;min-height: 100%;}
div#placehold-image{ color: #70ae3b;
    cursor: pointer;
    font-size: 32px;
    height: 176px;
    padding-top: 62px;
    text-align: center;
    width: 251px;}

div#placehold-image-cam{ color: #70ae3b;
    cursor: pointer;
    font-size: 32px;
    height: 176px;
    padding-top: 62px;
    text-align: center;
    width: 251px;}

@media (max-width: 525px) and (min-width: 320px) {

  .footer-tagline{width:100%;}
  .container-lp{width:100%;margin: 0 auto;}
  .content{margin-top: 0px;}
  body, html {

  background-color:rgb(112, 174, 59)!important;

  }
  .banner-image img{width: 100%;}
  .voice-scan .voice-container div.block{width: 75%;}
body .sign-up-form input[type="text"],body .sign-up-form input[type="email"]{padding: 10px;width:88%;border: 1px solid #d1d1d1;margin: 5px auto; }
body .sign-up-form .control-text select{padding: 10px;width:88%;border: 1px solid #d1d1d1;margin: 5px auto; }

body .sign-in-form .form-inputs{width: 95%;text-align: center;margin: 0 auto}
.sign-in-form h2{font-size: 20px;}
.alert.alert-error{width:88%;}

body .sign-up-form .form-inputs .control-text label{text-align: left;width: 88%;margin-bottom: 15px;}
body .sign-in-form .form-inputs label{text-align: left;width: 100%;margin-bottom: 15px;}

.custom-front-form.rounder{width: 95%!important;}
.custom-front-form.rounder h2{text-align: center;font-size: 20px;}
.custom-front-form.rounder h3{text-align: center;font-size: 15px;margin-bottom: 30px;}
body .profile_mobile{width:88%;margin: 0 auto}
#profile_mobile_number-error{text-align: left;width: 100%;}

}

.banner-image{background: #000;padding: 20px;text-align: center;}
.btn-custom-sb{background: #fff;border: 1px solid #6caa37;color:#70AE3B!important;padding: 5px 40px;}
button:hover.btn-custom-sb{background: #fff;border: 1px solid #6caa37;color:#70AE3B!important;opacity: 0.8;}
.content-mb{min-height: 100%;position: relative;padding-bottom: 75px;}
.voice-scan{background-color: #70AE3B;}
.voice-scan h4{color:#fff;text-align: center;margin-top: 30px;}
.voice-scan .voice-container{color:#fff;text-align: center;margin-top: 30px;font-size: 15px;}
.voice-scan .voice-container div.block{background: #fff;border-radius: 5px;width: 250px;margin: 10px auto;padding-bottom: 5px;padding-top: 10px;display: block}
.voice-scan .voice-container .error{width:250px;margin:15px auto; background:#fff;padding: 5px; border-radius: 4px;color:#000;font-size: 12px;font-weight: bold;}
.voice-scan span.digit{color: #70AE3B;width:45%;display: block;float:left;padding:8px;}
.voice-scan span.number{color: #70AE3B;width:45%;display: block;float:right;padding:8px;}
.clear{clear:both;}
.voice-loader{display: none;margin-top: 5px;}
.view-container{float:right;width:79%;}
.view-container .span3{line-height: 25px;text-align: left;}
.view-container .span2{line-height: 20px;float: left;width:49%;text-align: left;}
.view-container .span2.first{text-align: left;}
.view-container .span2.last{text-align: left;word-wrap:break-word;}

.snd-container{float: right;width:100%;}
.snd-container .span3{text-align: left;}
body.wht-bg {background: #fff!important;}
.sign-up-form{background: #fff;}
.sign-up-form h2{text-align: center!important;text-transform: uppercase;font-size: 42px;color: #129ce0;font-family: Times New Roman}
.sign-up-form input[type="text"],.sign-up-form input[type="email"]{padding: 10px;width:35%;border: 1px solid #d1d1d1;margin: 5px auto; }
.sign-up-form .form-inputs .control-text{text-align: center;}
.sign-up-form .form-inputs .control-text label{text-align: left;}
.sign-up-form .control-group-text{text-align: center;position: relative; }
.control-group-text a{background: transparent;text-decoration: underline;}
.control-group-text a:hover{background: transparent;text-decoration: underline;color: #000  }
.control-group-text input[type="checkbox"]{}
.sign-up-form .btn-lightgreen{    background: none repeat scroll 0 0 #70ae3b;
    border: 1px solid #78b435;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 5px;
    padding: 11px 16px;
    text-align: center;
    vertical-align: middle;}

    body #popup{

    background-color: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 0 0px 3px #ccc;
    color: #111111;
    display: none;
   /* min-width: 450px;*/
    padding: 20px;

}

body #popup .span5,.popup .span5{

    padding:0px;
    margin:0px;
}

body #popup  h3,.popup  h3{

    color:#AEC71E;
    font-family: "arial";
    font-weight:600 !important;

}

body #popup .button.b-close, .button.bClose ,.popup .button.b-close{
    border-radius: 3px;
    box-shadow: none;
    font: bold 131% sans-serif;
    padding: 0 6px 2px;
    position: absolute;
    right: -7px;
    top: -7px;
    background-color: #6CAF45 !important;
}
body #popup .button,.popup .button{
    background-color: #666;
    border-radius: 0px;
   font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;

    }
.sign-in-form{background: #70ae3b;width: 95%;margin: 15px auto;padding: 15px;text-align: center;border-radius: 5px;}
.sign-in-form input[type ="email"],.sign-in-form input[type ="password"]{width:100%;padding: 10px;border: 1px solid #d1d1d1;margin: 5px auto; border-radius: 5px;}
.sign-up-form .control-text select{width: 35%;padding: 10px;border: 1px solid #d1d1d1;margin: 5px auto; border-radius: 5px;}
.sign-in-form h2{color: #fff;}
.sign-in-form .form-inputs{width: 35%;text-align: center;margin: 0 auto}
.sign-in-form .checkbox{text-align: left;color: #fff;}
.sign-in-form .btn{color: #70ae3b;padding:5px 35px; }
.alert{margin-left:auto;margin-right:auto;padding: 10px;text-align: center;width: 35%; }
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

.alert-error a:hover{background: transparent!important; }
#popup{width:80%;max-height: 500px; }
#popup .largetext{overflow-y:scroll;max-height: 350px; }
.sign-up-form .form-inputs .control-text label,.sign-in-form .form-inputs .control-text label{text-align: center;width: 100%;margin-bottom: 15px;}
body .sign-in-form .form-inputs label{color: #fff;}
.control-label.checkbox label{position: absolute;top: 20px;margin-left: -16px;font-weight: bold;}
.control-group-text label{position: absolute;top: 50px;margin-left: -16px;font-weight: bold;}
.control-label.checkbox {position: relative;}
.custom-front-form.rounder{margin-top: 35px;}
.profile_mobile{width:35%;margin: 0 auto}


.profile_mobile_ctry_code input{width:15%!important;float: left;padding: 10px 4px !important;text-align: center;}
.profile_mobile_number input{width:83%!important;float: right;}
.field_with_errors{background: transparent!important;}
.verified-tmp .span2{width:35%!important;}
.verified-tmp a{font-size:10px;color:#6caa37!important;text-decoration:none;font-weight:bold;background:transparent;}
.verified-tmp a:hover{text-decoration:underline;background:transparent;}
.overlay-lockpage{position:fixed;
    width:100%;
    height:100%;
    background-color:#fff;
    filter:alpha(opacity=60);
    opacity:0.6;
    -moz-opacity:0.6;
    z-index:100;
    top: 0;
    left:0;
}


.overlay-lockpage img{top: 0;left: 0px;margin: auto;bottom: 0;right: 0;position: absolute;}