body, html {
    height: 100%;
}
#content {min-height: 100%; }


/*header{background: #000;}*/
.container-lp{width:80%;margin: 0 auto;padding:10px;-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;   
  box-sizing: border-box;}
.logo{float: left;width:35%;}
.logo img{max-width: 100%;}
.mobile-logo {width:200px;}
.mobile-logo img{max-width: 100%;}

/*.nav{float: right;vertical-align : bottom;height: 100%;color:#fff;margin-top: 15px;}*/
.clear{clear: both;}
footer{position:fixed;bottom:0;background: #000;-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;   
  box-sizing: border-box;width: 100%;z-index: 100;}

.content{ background-color: rgb(112, 174, 59);max-width: 400px;margin: 0 auto;padding: 10px;margin-top: 5%;}
.footer-tagline{color: #fff;text-transform: uppercase;width:90%;margin: auto;text-align: center;}
.footer-tagline img{vertical-align: middle;margin-left: 8px;}


section.scan{margin-top: 0px;}
section.scan header{background: #fff;padding: 11px 5px 5px;text-align: center;}
section.scan header img{vertical-align: middle;}
section.scan header a{display: inline-block;}
section.scan header a:hover{background: transparent;}
section.scan header .title{height:36px;font-size: 21px;text-transform: uppercase;margin-left: 25px;margin-right: 25px;display: inline-block;}
section.scan header .title span{margin-top: 5px;}

.btn-custom-mb{background: #fff!important;color:#70AE3B!important;text-transform: uppercase;border: 2px solid #6caa37;width:auto;font-size: 20px; border-radius: 8px;}


a:hover.btn-custom-mb{opacity: 0.9;border: 2px solid #6caa37;}


.btn-custom-mb span{width:186px;display: inline-block;}
.container.card-scan{background-color: #70AE3B;min-height: 100%;}
div#placehold-image{ color: #70ae3b;
    cursor: pointer;
    font-size: 32px;
    height: 176px;
    padding-top: 62px;
    text-align: center;
    width: 251px;}

@media (max-width: 525px) and (min-width: 320px) {

  .footer-tagline{width:100%;}
  .container-lp{width:100%;margin: 0 auto;}
  .content{margin-top: 0px;}
  body, html {

  background-color:rgb(112, 174, 59)!important;

  }
  .banner-image img{width: 100%;}
  .voice-scan .voice-container div.block{width: 75%;}

}

.banner-image{background: #000;padding: 20px;text-align: center;}
.btn-custom-sb{background: #fff;border: 1px solid #6caa37;color:#70AE3B!important;padding: 5px 40px;}
button:hover.btn-custom-sb{background: #fff;border: 1px solid #6caa37;color:#70AE3B!important;opacity: 0.8;}
.content-mb{min-height: 100%;position: relative;padding-bottom: 75px;}
.voice-scan{background-color: #70AE3B;}
.voice-scan h4{color:#fff;text-align: center;margin-top: 30px;}
.voice-scan .voice-container{color:#fff;text-align: center;margin-top: 30px;font-size: 15px;}
.voice-scan .voice-container div.block{background: #fff;border-radius: 5px;width: 250px;margin: 10px auto;padding-bottom: 5px;padding-top: 10px;display: block}
.voice-scan .voice-container .error{width:250px;margin:15px auto; background:#fff;padding: 5px; border-radius: 4px;color:#000;font-size: 12px;font-weight: bold;}
.voice-scan span.digit{color: #70AE3B;width:45%;display: block;float:left;padding:8px;}
.voice-scan span.number{color: #70AE3B;width:45%;display: block;float:right;padding:8px;}
.clear{clear:both;}
.voice-loader{display: none;margin-top: 5px;}
.view-container{float:right;width:79%;}
.view-container .span3{line-height: 25px;text-align: left;}
.view-container .span2{line-height: 20px;float: left;width:49%;text-align: left;}
.view-container .span2.first{text-align: left;}
.view-container .span2.last{text-align: left;word-wrap:break-word;}

.snd-container{float: right;width:100%;}
.snd-container .span3{text-align: left;}