      <style>
              .link_class{
                color:white;text-decoration:none;font-weight:900;
              }                             
      </style>


      
    <div style='padding-top:5px;padding-bottom:5px;padding-left:0px;background-color:#303030 ;height:20px;width:800px;margin:0 auto;font-size:12px;color:white;text-align:center;'>© 2014 My Verified ID Corp. All rights reserved</div>
  </body>
</html>